.portfolio-page-description {
  ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin: 0.5rem 0;
  }
  ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
    margin: 0.5rem 0;
  }
  li {
    margin: 0.25rem 0;
  }
  li > p {
    margin: 0;
  }
  li > p::marker {
    display: none;
  }
  li > p::before {
    display: none;
  }
  a {
    color: hsl(var(--primary));
    text-decoration: underline;
    text-decoration-color: hsl(var(--primary) / 0.3);
    text-underline-offset: 2px;
  }
  a:hover {
    text-decoration-color: hsl(var(--primary));
  }
  h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 1.5rem 0 1rem;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.3;
    margin: 1.25rem 0 0.75rem;
  }
  h3 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.4;
    margin: 1rem 0 0.5rem;
  }
  h4 {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.4;
    margin: 0.75rem 0 0.5rem;
  }
}
